@use "../../../styles/variables" as *;
@use "../../../styles/placeholders" as *;

.offset_hero {
    &-section {
        // empty md breakpoint removed
    }

    &-img {
        position: relative;
        overflow: hidden;

        margin-top: -27px;
        aspect-ratio: 337 / 236;

        @include big {
            flex: 1 1 588px;

            aspect-ratio: 588 / 434;
            margin-top: 94px;
        }

        .offset_hero-overlay {
            background: $overlay-bg;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
        }

        .img-holder {
            width: 100%;
            height: 100%;

            img {
                object-position: center 40%;
                filter: grayscale(1);
            }
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        text-align: center;
        background-color: var(--black-900);
        padding: 45px var(--layout-column-margin) 60px var(--layout-column-margin);

        @include big {
            flex: 1 1 929px;
            margin: 0;
        }
    }

    &-title {
        font-style: italic;
    }

    &-wrapper {
        @extend %flexbox-rc;
        
        @include big {
            align-items: flex-start;
        }

        &.left {
            .offset_hero-text {
            }

            .offset_hero-img {
            }

            @include big {
                .offset_hero-text {
                    order: 1;

                    padding: 74px 60px 74px 74px;
                }

                .offset_hero-img {
                    order: 1;
                    margin-right: -74px;
                }
            }
        }

        &.right {
            .offset_hero-text {
                margin-right: var(--layout-column-gutter);
            }

            .offset_hero-img {
                margin-left: var(--layout-column-gutter);
            }

            @include big {
                .offset_hero-img {
                    margin-left: -74px;
                }

                .offset_hero-text {
                    padding: 74px 74px 74px 60px;
                }
            }
        }
    }

    
}
