:root {
   --cream: #E6E2DA;
   --cream-5-pos: #E7E3DC;
   
   --gold: #A6824A;
   --gold-5-pos: #AA8853;
    
    --black: #101111;
    --black-5-pos: #191A1A; 
}

body {
    background-color: var(--black);
}

section {
    margin: 0 60px;
}

h1 {
    color: var(--Cream, #E6E2DA);
    
    font-family: "Instrument Serif";
    font-size: 96px;
    font-weight: 400;
    line-height: 100%; /* 96px */
}

/* ////////////////////////////// 
    HERO
////////////////////////////// */

.hero-section {
    

    .hero-wrapper {
        background-color: var(--black-5-pos);
        width: calc(100 + 60px);
        
    }

    h1 {
        text-align: center;
        font-style: italic;
    }
}