@use "@/styles/variables" as *;
@use "@/components/ArrowBox/arrow-tokens" as *;

.card {
    // padding: $space-500;
    // background-color: $black-900;
    position: relative;
    overflow: hidden;
    // height: fit-content;
    height: 100%;

    // @include big {
    //     min-height: 281px;
    // }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $space-200;
        height: 100%;
        min-height: 180px;

        padding: $space-500;
        background-color: $black-900;
        transition: $transition;

        @include big {
            min-height: 281px;
        }
    }

    &-upper {
        display: flex;
        justify-content: space-between;
        // flex-direction: column;

        position: relative;
        z-index: 2;

        &-text {
            display: flex;
            flex-direction: column;
            gap: $space-200;
        }
    }

    &-letter {
        font-family: $font-goth;
        font-size: 170px;
        line-height: 100%;
        text-transform: uppercase;

        opacity: 0.15;
        color: $cream;
        transition: $transition;

        position: absolute;
        bottom: -15px;
        right: -15px;
        z-index: 1;

        @include big {
            font-size: 200px;
            bottom: -25px;
            right: -25px;
        }
    }

    &-hover {
        transition: transform ease-in-out 300ms;

        &:hover {
            transform: translateY(-5px);
            cursor: pointer;

            @each $dir, $t in $arrow-hover-transforms {
                .arrow_box-grid.#{$dir} {
                    transform: $t;
                }
            }

            .card-text {
                background-color: $cabernet;
            }

            .card-letter {
                bottom: -20px;
            }
        }
    }
}

.link_card {
    text-decoration: none;
}

.modal_card {
    appearance: none;
    border: none;
    width: 100%;
    padding: 0;
    text-align: left;

    &-wrapper {
        transition: transform ease-in-out 300ms;
    }
}

.card_grid {
    // TODO: fixme for smaller
    display: flex;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: var(--space-400);

    @include big {
        // grid-template-columns: repeat(12, 1fr);
        flex-wrap: wrap;
        gap: var(--layout-column-gutter);
    }

    .link_card,
    .visual_card,
    .modal_card-wrapper {
        // grid-column: span 4;
        flex: 1 0 350px;

        @include big {
            flex: 1 0 420px;
        }
    }
}
