@use "@/styles/variables" as *;
@use "@/components/ArrowBox/arrow-tokens" as *;


.mini_card {
    position: relative;
    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: $space-150;

    appearance: none;
    background: transparent;
    border: none;
    padding: 0;
    color: $cream;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    transition: $transition;

    &-hover:hover {
        .mini_card-content {
            background-color: $burgundy;
        }

        .mini_card-frame {
            border-color: $burgundy;
        }

        .mini_card-icon {
            color: $cream;
        }

        cursor: pointer;
        transform: translateY(-2.5px);

            @each $dir, $t in $arrow-hover-transforms {
                .arrow_box-grid.#{$dir} {
                    transform: $t;
                }
            }
    }

    &-frame {
        position: absolute;
        border: 2px solid $cabernet;
        transition: $transition;
    }

    &-frame-a {
        inset: calc(#{$space-150} * -1) $space-150 $space-150 calc(#{$space-150} * -1);
    }

    &-frame-b {
        inset: $space-150 calc(#{$space-150} * -1) calc(#{$space-150} * -1) $space-150;
    }

    &-content {
        position: relative;
        z-index: 2;

        display: flex;
        flex-direction: column;
        gap: $space-100;

        background-color: $cabernet;
        padding: $space-300 $space-500;
        transition: $transition;
    }

    &-icon {
        color: $cream-500;
        transition: $transition;
    }

    &-title {
        margin-top: $space-100;
        color: $cream;
    }

    &-body {
        color: $cream-700;
    }
}