@use "../../styles/variables" as *;
@use '../ArrowBox/ArrowBox.scss' as *;

$btnTB: 12px;
$btnLR: 24px;
$btnBorderWidth: 2px;

.btn-wrapper {
    .btn {
        display: flex;
        align-items: center;
        gap: var(--space-150);

        width: fit-content;
        text-decoration: none;
        transition: $transition;

        .btn-text {
            font-family: $font-sans;
            font-size: var(--button);
            font-weight: 600;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        &:hover {
            @each $dir, $t in $arrow-hover-transforms {
                .arrow_box-grid.#{$dir} { transform: $t; }
            }
        }
    }

    .btn.solid {
        padding: $btnTB $btnLR;
        border: $btnBorderWidth solid;

        &.gold {
            border-color: var(--gold-500);
            background-color: var(--gold-500);
            color: var(--cream-500);

            &:hover {
                background-color: var(--gold-600);
                border-color: var(--gold-600);
            }
        }

        &.cream {
            border-color: var(--cream-500);
            background-color: var(--cream-500);
            color: var(--gold-500);

            &:hover {
                background-color: var(--cream-100);
                border-color: var(--cream-100);
            }
        }
    }

    .btn.outline {
        padding: $btnTB $btnLR;
        border: $btnBorderWidth solid;

        &.gold {
            border-color: var(--gold-500);
            color: var(--gold-500);

            &:hover {
                border-color: var(--cream-500);
            }
        }

        &.cream {
            border-color: var(--cream-500);
            color: var(--cream-500);

            &:hover {
                border-color: var(--gold-500);
            }
        }
    }

    .btn.lines {
        // gap: var(--space-100);
        padding: var(--space-100) var(--space-075);

        position: relative;

        &::before,
        &::after {
            content: "";
            height: 1px;
            width: 0;

            position: absolute;

            transition: $transition;
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }

        &.gold {
            color: var(--gold-500);

            &::before,
            &::after {
                background-color: var(--gold-500);
            }
        }

        &.cream {
            color: var(--cream-500);

            &::before,
            &::after {
                background-color: var(--cream-500);
            }
        }

        &:hover {
            &::before,
            &::after {
                width: 100%;
            }
        }
    }
}
