@use "@/styles/variables" as *;
@use "@/components/ArrowBox/arrow-tokens" as *;
@use "sass:map";

// #region --- Button SCSS Variables -------------------------------------------

$btnTB: 12px;
$btnLR: 24px;
$btnMobileTB: 8px;
$btnMobileLR: 16px;
$btnBorderWidth: 2px;

// #endregion -------------------------------------------------------------------

// #region --- Button Color Arrays -------------------------------------------

    // #region --- Solid Button ---------------------------
        $solid-btn: (
            "gold": (
                "default": (
                    "border-color": $gold,
                    "background-color": $gold,
                    "color": $cream,
                ),
                "hover": (
                    "border-color": $gold-600,
                    "background-color": $gold-600,
                    "color": $cream,
                ),
            ),
            "cream": (
                "default": (
                    "border-color": $cream,
                    "background-color": $cream,
                    "color": $gold,
                ),
                "hover": (
                    "border-color": $gold,
                    "background-color": $gold,
                    "color": $cream,
                ),
            ),
            'black': (
                "default": (
                    "border-color": $black,
                    "background-color": $black,
                    "color": $cream,
                ),
                "hover": (
                    "border-color": $gold,
                    "background-color": $gold,
                    "color": $cream,
                ),
            )
        );

    // #endregion ---------------------------------

    // #region --- Outline Button ---------------------------

        $outline-btn: (
            "gold": (
                "default": (
                    "border-color": $gold,
                    "background-color": transparent,
                    "color": $cream,
                ),
                "hover": (
                    "border-color": $cream,
                    "background-color": $cream,
                    "color": $gold,
                ),
            ),
            "cream": (
                "default": (
                    "border-color": $cream,
                    "background-color": transparent,
                    "color": $cream,
                ),
                "hover": (
                    "border-color": $gold-600,
                    "background-color": $gold-600,
                    "color": $cream,
                ),
            ),
        );

    // #endregion ---------------------------------

    // #region --- Line Button ---------------------------

        $line-btn: (
            "gold": (
                "default": (
                    "lines-color": $gold,
                    "color": $gold,
                ),
            ),
            "cream": (
                "default": (
                    "lines-color": $cream,
                    "color": $cream,
                ),
            ),
        );

    // #endregion ---------------------------------

// #endregion -------------------------------------------------------------------

// #region --- Button Styling -------------------------------------------

.btn {
    display: flex;
    align-items: center;
    gap: var(--space-150);

    width: fit-content;
    text-decoration: none;
    transition: $transition;

    &-text {
        font-family: $font-sans;
        font-size: var(--text-s);
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include big {
            font-size: var(--text-base);
        }
    }

    // #region --- Variants -------------------------------------------

    &-variant {
        &-solid {
            border: $btnBorderWidth solid;
            padding: $btnMobileTB $btnMobileLR;
            
            @include big {
               padding: $btnTB $btnLR; 
            }

            @each $theme, $states in $solid-btn {
                $default: map.get($states, "default");
                // $hover: map.get($states, "hover");

                &.btn-color_scheme-#{$theme} {
                    border-color: map.get($default, "border-color");
                    background-color: map.get($default, "background-color");
                    color: map.get($default, "color");

                    // &:hover {
                    //     border-color: map.get($hover, "border-color");
                    //     background-color: map.get($hover, "background-color");
                    //     color: map.get($hover, "color");
                    // }
                }
            }
        }

        &-outline {
            border: $btnBorderWidth solid;
            padding: $btnMobileTB $btnMobileLR;
            
            @include big {
               padding: $btnTB $btnLR; 
            }

            @each $theme, $states in $outline-btn {
                $default: map.get($states, "default");
                // $hover: map.get($states, "hover");

                &.btn-color_scheme-#{$theme} {
                    border-color: map.get($default, "border-color");
                    background-color: map.get($default, "background-color");
                    color: map.get($default, "color");

                    // &:hover {
                    //     border-color: map.get($hover, "border-color");
                    //     background-color: map.get($hover, "background-color");
                    //     color: map.get($hover, "color");
                    // }
                }
            }
        }

        &-lines {
            padding: var(--space-100) var(--space-075);
            position: relative;

            &::before,
            &::after {
                content: "";
                height: 1px;
                width: 0;

                position: absolute;

                transition: $transition;
            }

            &::before {
                top: 0;
                left: 0;
            }

            &::after {
                bottom: 0;
                right: 0;
            }

            // &:hover {
            //     &::before,
            //     &::after {
            //         width: 100%;
            //     }
            // }

            @each $theme, $states in $line-btn {
                $default: map.get($states, "default");
                // $hover: map.get($states, "hover");

                &.btn-color_scheme-#{$theme} {
                    color: map.get($default, "color");
                    
                    &::before,
                    &::after {
                        background-color: map.get($default, "lines-color");
                    }
                }
            }
        }
    }

    // #endregion ------------------------------------------------------
    
    // #region --- Additional Classes ---------------------------------
        &-full_width {
            width: -webkit-fill-available;
            justify-content: center;
        }

    // #endregion ------------------------------------------------------
}

// #endregion -------------------------------------------------------------------

// #region --- Hover Effects -------------------------------------------

a.btn, button.btn {
    &:hover {
        @each $dir, $t in $arrow-hover-transforms {
            .arrow_box-grid.#{$dir} {
                transform: $t;
            }
        }
    }

    // #region --- Variants -------------------------------------------

    &-variant {
        &-solid {
            @each $theme, $states in $solid-btn {
                $hover: map.get($states, "hover");

                &.btn-color_scheme-#{$theme}:hover {
                        border-color: map.get($hover, "border-color");
                        background-color: map.get($hover, "background-color");
                        color: map.get($hover, "color");
                    
                }
            }
        }

        &-outline {
            @each $theme, $states in $outline-btn {
                $hover: map.get($states, "hover");

                &.btn-color_scheme-#{$theme} {
                    &:hover {
                        border-color: map.get($hover, "border-color");
                        background-color: map.get($hover, "background-color");
                        color: map.get($hover, "color");
                    }
                }
            }
        }

        &-lines {
            &:hover {
                &::before,
                &::after {
                    width: 100%;
                }
            }
        }
    }

    // #endregion ------------------------------------------------------
}

// #endregion -------------------------------------------------------------------
