@use "../../styles/variables" as *;


.accordion {
    
    border-bottom: 1px solid var(--gold-700);
    transition: $transition;

    // display: flex;
    // flex-direction: column;
    // gap: var(--space-400);
    

    &-question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-100);

        padding: var(--space-400);
        transition: $transition;

        &:hover {
            cursor: pointer;
        }
    }

    &-answer {
        color: var(--cream-700);
        padding: 0 var(--space-400) var(--space-400) var(--space-400);
    }

    &-caret {
        width: 35px;
        height: 35px;
        transition: $transition;

        svg {
            width: 100%;
            height: 100%;

            path {
                transition: $transition;
            }
        }
    }

    &-open {
        border-bottom: 1px solid var(--gold-500);

        .accordion-caret {
            transform: rotate(90deg);

            svg path {
                
            }
        }
    }
    
    &-closed {
        .accordion-question:hover {
            
            background: var(--black-900);

            .accordion-caret {

            }
        }
    }
}

.accordions {
    &-inner {
        display: flex;
        flex-direction: column;
        // gap: var(--space-100)
    }
}