// _wedding.scss
@use "../variables" as *;

.wedding {
    .welcome-section, .quick_links-section {
        display: flex;
        flex-direction: column;
        gap: var(--space-700);

        @include big  {
            gap: var(--space-1000);
        }
    }

    .our_story-section {
        background-color: var(--black-900);
        min-height: 50vw;
    }
}