// _wedding.scss
@use "../variables" as *;

.wedding {
    .info-section {
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-md) {
            gap: 120px;
        }

        .lines {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}