@use "../../styles/variables" as *;

.eyebrow-wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-100);
    
    width: fit-content;

    &.gold { color: var(--gold-500); }

    .diamond_underline {
        height: 1px;
        width: 100px;
        background-color: var(--gold-500);
    }

    .diamond_underline-wrapper {
        display: flex;
        align-items: center;
        gap: var(--space-075);
        // padding: 0 10px;
        width: 100%;

        @include big  {
            width: calc(100% + 40px);
            gap: var(--space-100);
        }

        .diamond_underline { width: 100%; }
    }

    &.centered {
        flex-direction: column;
        text-align: center;
    }

    &.double {
        flex-direction: column;
        gap: var(--space-075);

        @include big {
            flex-direction: row;
            gap: var(--space-150);

            .diamond_underline-wrapper {
                width: fit-content;

                .diamond_underline {
                    display: none;
                }
            }
        }

        .eyebrow {
            padding: 0 16px;

            @include big {
                padding: 0;
            }
        }
    }
}