@use "../../styles/variables" as *;

.eyebrow-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;

    &.centered {
        flex-direction: column;
        text-align: center;
    }

    &.gold { color: var(--gold-500); }

    .diamond_underline {
        height: 1px;
        width: 100px;
        background-color: var(--gold-500);
    }

    // .diamond {
    //     $size: clamp(16px, 1.111vw, 18px);
    //     flex: 0 0 $size;
    //     width: $size;
    //     height: $size;
    // }

    .diamond_underline-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0 10px;
        width: 100%;

        @include big  {
            width: calc(100% + 40px);
        }

        .diamond_underline { width: 100%; }
    }
}