@use "./variables" as *;

body {
    max-width: 100dvw;
    overflow-x: hidden;
    background-color: var(--black-1000);
    margin: 0;
}

main {
    @include big  {
        margin: auto;
    }
}

section.base_section {
    padding: var(--layout-section-padding) var(--layout-column-margin);

    @include big {
        max-width: var(--max-width);
        margin: auto;
    }
}