
// ──── Breakpoints  ───────────────────────────────────

$bp-mobile: 450px;
$bp-tablet: 750px;
$bp-desktop: 1024px;

// ── Mixins  ───────────────────────────────────

@mixin desktopOnly($breakpoint: $bp-desktop) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin big($breakpoint: $bp-tablet) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin small($min: $bp-mobile, $max: $bp-tablet) {
    @media all and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin mini($breakpoint: $bp-mobile) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin breakpx($min, $max) {
    @media all and (min-width: $min) and (max-width: $max) {
        @content;
    }
}
