@use "./variables" as *;

// ── Image Classes ───────────────────────
.img {
    &-wrapper {
        position: relative;
        z-index: 2;

        .img-holder {
            width: 100%;
            height: 100%;
        }
    }

    &-holder {
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    &-overlay {
        background: $overlay-bg;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }

    &-bw {
        filter: grayscale(1);
    }
}

// ── Btns ───────────────────────
.btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-400);
}

// ── Storybook CSS ───────────────────────

.docs-story {
    background-color: black;
}
