/* ////////////////////////////// 
    Footer
////////////////////////////// */

footer {
    @media all and (min-width: 800px) {
        max-width: var(--max-width);
        margin: 0 auto 60px auto;
    }
}

.footer-wrapper {
    background-color: var(--black-5-pos);
    padding: 80px;

    display: flex;
    gap: 15.972vw;

    .footer-left {
        flex: 1 1 520px;
    }

    .footer-right {
        flex: 1 1 378px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        .footer-link {
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.9px;
            text-transform: uppercase;

            color: var(--Cream, #e6e2da);
            text-decoration: none;
            transition: all ease-in-out 300ms;

            display: flex;
            flex-direction: column;
            gap: 6px;
            /* 
            &::after {
                content: "";

                background-color: var(--gold);
                height: 1px;
                width: 0;
                transition: all ease-in-out 300ms;
            } */

            &:hover {
                text-decoration-color: var(--gold);
                color: var(--gold);

                /* &::after {
                    width: 100%;
                } */
            }
        }
    }
}
