/* ////////////////////////////// 
    NAV
////////////////////////////// */

@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    position: absolute;
    top: 0;
    /* left: 0; */
    z-index: 99;
    
    width: 100%;

    /* padding: 0px 16px; */

    background: rgba(16, 17, 17, 0.67);
    border-bottom: 2px solid rgba(166, 130, 74, 0.50);


    @media all and (min-width: 800px) {
        /* max-width: calc(1600px + 0px); */
        /* margin: auto; */

        /* padding: 0px 60px; */
    }
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    /* border-bottom: 1px solid rgba(166, 130, 74, 0.2); */

    opacity: 0;
    transform: translateY(-8px);
    animation: fadeDown 0.8s 0.2s ease forwards;

    @media all and (min-width: 800px) {
        max-width: calc(1600px + 0px);
        margin: auto;

        padding: 16px 60px;
    }

    @media all and (min-width: 800px) {
        justify-content: space-between;
        /* padding: 16px 10px; */
    }

    nav {
        display: none;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 16px;

        @media all and (min-width: 800px) {
            display: flex;
        }

        svg {
            margin-bottom: 7px;
        }

        .nav-link {
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.9px;
            text-transform: uppercase;

            color: var(--Cream, #e6e2da);
            text-decoration: none;
            transition: all ease-in-out 300ms;

            display: flex;
            flex-direction: column;
            gap: 6px;

            &::after {
                content: "";

                background-color: var(--gold);
                height: 1px;
                width: 0;
                transition: all ease-in-out 300ms;
            }

            &:hover {
                text-decoration-color: var(--gold);
                color: var(--gold);

                &::after {
                    width: 100%;
                }
            }
        }
    }

    @media all and (min-width: 800px) {
        #mobile_nav_btn {
            display: none;
        }
    }
}

.mobile_nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    width: 100vw;
    height: 100dvh;

    display: flex;
    justify-content: flex-end;

    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease;
    
    @media all and (min-width: 800px) {
        display: none;
    }

    &.open {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
    }

    .mobile_nav-inner {
        background-color: var(--gold);
        position: relative;
        padding: 24px 16px;
        width: 75vw;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    .close_icon {
        position: absolute;
        top: 24px;
        left: 24px;
    }

    .mobile_nav {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .nav-link {
            color: var(--cream);
            font-family: "Instrument Serif";
            font-size: 40px;
            font-style: italic;
            font-weight: 400;
            line-height: 120%;
            text-decoration: none;
        }
    }
}
