
@use '../mixins' as *;


:root {
  // Mobile first (default)
  --layout-column-margin:    16px;
  --layout-column-gutter:    16px;
  --layout-section-padding:  64px;
//   --layout-container-max-width: 1280px;
//   --layout-content-max-width:   720px;
}

@include big {
  :root {
    // Desktop overrides
    --layout-column-margin:   60px;
    --layout-column-gutter:   30px;
    --layout-section-padding: 120px;
  }
}