@use '../mixins' as *;

@use 'sass:math';

$viewport-width: 1440;

@function calcClamp($min, $val, $max) {
  $mid: math.div($val, $viewport-width) * 100;

  @return clamp(#{$min}px, #{$mid}vw, #{$max}px);
}

// Mobile (default)
:root {
  --heading-xxl: #{calcClamp(50, 55, 60)};
  --heading-xl: #{calcClamp(45, 48, 50)};
  --heading-l: #{calcClamp(38, 40, 45)};
  --heading-m: #{calcClamp(32, 36, 38)};
  --heading-s: #{calcClamp(24, 28, 30)};
  --heading-xs: #{calcClamp(20, 22, 24)};

  --body-l: #{calcClamp(16, 18, 20)};
  --body: #{calcClamp(15, 16, 18)};
  --body-s: #{calcClamp(14, 15, 16)};
  --body-xs: #{calcClamp(12, 13, 14)};

  --eyebrow: #{calcClamp(16, 18, 20)};
  --button: #{calcClamp(16, 18, 20)};
}

// Tablet
@include big {
  :root {
    --heading-xxl: #{calcClamp(65, 70, 75)};
    --heading-xl: #{calcClamp(55, 60, 65)};
    --heading-l: #{calcClamp(40, 44, 50)};
    --heading-m: #{calcClamp(30, 35, 40)};
    --heading-s: #{calcClamp(25, 28, 30)};
    --heading-xs: #{calcClamp(22, 23, 25)};

    --body-l: #{calcClamp(18, 20, 22)};
    --body: #{calcClamp(16, 18, 20)};
    --body-s: #{calcClamp(15, 16, 18)};
    --body-xs: #{calcClamp(13, 14, 15)};

    --eyebrow: #{calcClamp(16, 18, 20)};
    --button: #{calcClamp(16, 18, 20)};
  }
}

// Desktop
@media (min-width: #{$bp-desktop}) {
  :root {
    --heading-xxl: #{calcClamp(75, 92, 100)};
    --heading-xl: #{calcClamp(65, 73, 75)};
    --heading-l: #{calcClamp(55, 59, 65)};
    --heading-m: #{calcClamp(45, 47, 55)};
    --heading-s: #{calcClamp(30, 36, 45)};
    --heading-xs: #{calcClamp(22, 24, 30)};

    --body-l: #{calcClamp(18, 20, 22)};
    --body: #{calcClamp(16, 18, 20)};
    --body-s: #{calcClamp(15, 16, 18)};
    --body-xs: #{calcClamp(13, 14, 15)};

    --eyebrow: #{calcClamp(18, 20, 22)};
    --button: #{calcClamp(18, 20, 22)};
  }
}

