@use "@/styles/variables" as *;

.photo_collage {
    &-text {
        // opacity: 70%;
        position: relative;
        font-size: 85px;

        @include big {
            font-size: 13.889vw;
            text-align: center;
        }
    }

    &-imgs {
        display: flex;
        flex-direction: column;
        gap: var(--layout-column-gutter);

        position: relative;

        @include big {
            flex-direction: row;
            align-items: center;
            // gap: var(--layout-column-gutter);
        }

        img {
            transition: $transition;
        }

        .img-overlay {
             transition: $transition;
        }


        &-main {
            overflow: hidden;

            @include big {
                flex: 3 1 696px;
                height: 100%;
                aspect-ratio: 29/23;

            }
        }

        &-side {
            display: flex;
            flex-direction: row;
            
            gap: var(--layout-column-gutter);

            @include big {
                flex-direction: column;
                // align-items: ;
                flex: 1 1 281px;

                padding: var(--layout-column-gutter) 0;
            }
        }

        &-left {
            align-items: flex-end;
        }

        &-right {
            align-items: flex-start;
        }
    }

    &-img {
        overflow: hidden;

        &-tall {
            width: 100%;
            // aspect-ratio: 136/151;
            aspect-ratio: 1;
            overflow: hidden;

            @include big {
                aspect-ratio: 136/151;
            }
        }

        &-long {
            width: 100%;
            aspect-ratio: 3/2;
            overflow: hidden;

            @include big {
                aspect-ratio: 94/61;
            }
        }

        &:hover {
            img {
                filter: grayscale(0) !important;
            }

            .img-overlay {
                opacity: 0;
            }
        }

        // &:hover img,
        // &.is-touched img {
        //     filter: grayscale(0) !important;
            
        // }
    }

    // #region --- Style Variations

    &-header_top {
        @include big {
            margin-bottom: -80px;
        }
    }

    &-header_bottom {
       @include big {
            margin-top: -80px;
        }
    }

    &-text_behind {
        .photo_collage-imgs {
            z-index: 2;
        }

        .photo_collage-text {
            z-index: 1;
        }
    }

    &-text_front {
        .photo_collage-imgs {
            z-index: 1;
        }

        .photo_collage-text {
            z-index: 2;
        }
    }

    // #endregion 
}
