@use "../../styles/variables" as *;

.small_text {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);

    .body-xs {
        color: var(--cream-700);
    }

    // #region --- Alignment Variations -------------------------------
    &-alignment {
        &-right {
            align-items: flex-end;
            text-align: right;
        }

        &-center {
            align-items: center;
            text-align: center;
        }

        &-left {
            align-items: flex-start;
        }
    }

    // #endregion -----------------------------------------------------

}

// #region --- Small Text Grid -------------------------------
.small_text_grid {
    display: grid;
    grid-template-columns: [s] 100% [e];
    gap: $space-600;

    @include big {
        grid-template-columns: repeat(2, 1fr);
        column-gap: $space-100;
        row-gap: $space-600;
    }
}

// #endregion -----------------------------------------------------