@use "../../../styles/variables" as *;
@use "../../ArrowBox/ArrowBox.scss" as *;

body.mobile-nav-open {
    overflow: hidden;
    height: 100dvh !important;
}

@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

%nav-link-uppercase {
    font-family: $font-sans;
    font-size: var(--eyebrow);
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

// ── Header ───────────────────────────────────────────────
header {
    width: 100dvw;
    position: relative;

    display: flex;
    justify-content: center;
}

// ── Caret Wrapper ───────────────────────────────────────────────
.caret-wrapper {
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition;

    svg {
        transition: $transition;
        path {
            transition: $transition;
        }
    }
}

// ── Desktop nav wrapper ───────────────────────────────────
.navigation-wrapper {
    margin: 0 var(--layout-column-margin);

    padding: var(--space-200);
    border: 1px solid var(--black-800);
    background: var(--black-900);
    box-shadow:
        0 65px 18px 0 rgba(16, 17, 17, 0.01),
        0 42px 17px 0 rgba(16, 17, 17, 0.05),
        0 23px 14px 0 rgba(16, 17, 17, 0.18),
        0 10px 10px 0 rgba(16, 17, 17, 0.3),
        0 3px 6px 0 rgba(16, 17, 17, 0.34);

    opacity: 0;
    transform: translateY(-8px);
    animation: fadeDown 0.8s 0.2s ease forwards;

    position: absolute;
    top: 16px;
    z-index: 100;
    transition: background-color 300ms ease-in-out;

    @include big {
        max-width: clamp(800px, 60.417vw, 870px);
        width: 100%;
        margin: auto;
        padding: var(--space-200, 16px);

        #mobile_nav_btn {
            display: none;
        }
    }

    .nav-link {
        text-decoration: none;

        .nav-text {
            @extend %nav-link-uppercase;

            transition: $transition;
        }

        &:hover {
            .nav-text {
                color: $gold;
            }
        }
    }

    .navigation-upper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--layout-column-gutter);

        .navigation-left {
            display: flex;
            align-items: center;
            gap: var(--space-025);

            text-decoration: none;

            .nav-letter {
                color: $gold;
                font-family: $font-sans;
                font-size: 24px; // TODO: make variation or clamp
                line-height: 100%;
                font-weight: 600;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                text-decoration: none;

                transition: $transition;
            }

            .nav-and {
                color: $gold;
                font-family: $font-sans;
                font-size: 14px; // TODO: make variation or clamp
                line-height: 100%;
                font-weight: 600;
                letter-spacing: 1.2px;
                text-transform: uppercase;

                transition: $transition;
            }
        }

        nav {
            display: none;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 16px;

            @include big {
                display: flex;
            }

            .nav-link.has-dropdown {
                display: flex;
                align-items: center;
                gap: var(--space-100);

                &:hover,
                &.open {
                    .caret-wrapper {
                        svg {
                            transform: rotate(180deg);

                            path {
                                fill: $gold;
                            }
                        }
                    }
                }
            }

            .dropdowns {
                width: 100%;
            }
        }
    }

    .dropdowns {
        .dropdown {
            display: grid;
            overflow: hidden;
            grid-template-rows: 0fr;

            transition: $transition;

            .dropdown-inner {
                display: flex;
                flex-wrap: wrap;
                gap: var(--space-200);

                overflow: hidden;
                padding-top: 0;
                transition: $transition;

                .dd-link {
                    flex: 1 0 232px;
                    padding: var(--space-200, 16px);
                    background: var(--Black-black-800, #272828);
                    border-radius: 6px;
                    text-decoration: none;

                    display: flex;
                    flex-direction: column;
                    gap: var(--space-100);
                    transition: $transition;

                    .dd-text_wrapper {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: var(--layout-column-gutter);

                        .dd-text {
                            @extend %nav-link-uppercase;
                            transition: $transition;
                        }
                    }

                    &:hover {
                        .arrow_box-wrapper {
                            border-color: $gold;

                            .arrow_box-inner .arrow_box-grid {
                                transform: translate(0, -18px);

                                .arrow svg path {
                                    fill: $gold;
                                }
                            }
                        }

                        .dd-text {
                            color: $gold;
                        }
                    }
                }
            }

            &.open {
                grid-template-rows: 1fr;

                .dropdown-inner {
                    padding-top: var(--space-300);
                }
            }
        }
    }

    &.mobile_nav_open {
        background-color: var(--gold-500);

        .navigation-upper .navigation-left .nav-letter,
        .navigation-upper .navigation-left .nav-and {
            color: $cream;
        }
    }
}

// ── Mobile nav ────────────────────────────────────────────
.mobile_nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    width: 100vw;
    height: 100dvh;
    background-color: var(--black-850);
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease;

    @include big {
        display: none;
    }

    &.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

    .mobile_nav-inner {
        padding: var(--space-1000) var(--layout-column-margin);

        display: flex;
        flex-direction: column;

        .mobile_nav-link {
            padding: var(--space-400) var(--space-100);
            border-bottom: 1px solid $cream;
            text-decoration: none;

            display: flex;
            justify-content: space-between;
            gap: var(--space-100);
        }

        a.mobile_nav-link {
            &:hover {
                @each $dir, $t in $arrow-hover-transforms {
                    .arrow_box-grid.#{$dir} {
                        transform: $t;
                    }
                }
            }
        }

        .mobile_nav-dropdown_wrapper {
            border-bottom: 1px solid $cream;
            padding: var(--space-400) 0;

            .mobile_nav-link {
                border-bottom: 0;
                padding: 0 var(--space-100);

                &.open {
                    .caret-wrapper {
                        svg {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .mobile_nav-dropdown {
                padding: var(--space-200) var(--space-200) 0 var(--space-200);

                display: flex;
                flex-direction: column;
                gap: var(--space-200);

                pointer-events: none;

                .mobile_nav-view_page {
                    display: flex;
                    justify-content: center;
                    gap: var(--space-200);

                    text-decoration: none;
                    padding: var(--space-075);
                    border-top: 1px solid var(--gold-500);
                    border-bottom: 1px solid var(--gold-500);

                    .eyebrow {
                        color: $gold;
                    }

                    &:hover {
                        @each $dir, $t in $arrow-hover-transforms {
                            .arrow_box-grid.#{$dir} {
                                transform: $t;
                            }
                        }
                    }
                }

                .mdd-link {
                    display: flex;
                    justify-content: space-between;
                    gap: var(--space-400);

                    text-decoration: none;
                    padding: var(--space-200) var(--space-100);
                    border-bottom: 1px solid $cream;

                    .mdd-text_wrapper {
                        .mdd-body {
                            margin-top: var(--space-100);
                            color: var(--cream-700);
                        }
                    }

                    &:last-of-type {
                        border-bottom: 0;
                    }

                    &:hover {
                        @each $dir, $t in $arrow-hover-transforms {
                            .arrow_box-grid.#{$dir} {
                                transform: $t;
                            }
                        }
                    }
                }

                &.open {
                    pointer-events: all;
                }
            }
        }
    }
}
