// _wedding.scss
@use "@/styles/variables" as *;;

.welcome-section {
    display: flex;
    flex-direction: column;
    gap: var(--layout-column-gutter);

    @include big {
        gap: var(--space-1000);
        // flex-direction: row;
        // gap: var(--layout-column-gutter);
    }

    // .copy {
    //     @include big {
    //         flex: 2 1 696px;
    //     }
    // }

    // .small_text_column {
    //     @include big {
    //         flex: 1 1 594px;
    //     }
    // }
}


.quick_links-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-700);

    @include big {
        gap: var(--space-1000);
    }
}

.our_story-section {
    .section-inner {
        background-color: var(--black-900);
    }
    // min-height: 50vw;
}
