@use "@/styles/variables" as *;

.media_with_copy {
    display: flex;
    flex-direction: column;
    gap: $space-600;

    @include big {
        flex-direction: row;
        gap: 7.847vw;
    }

    &-text {
        @include big {
            flex: 1 1 675px;
            padding: var(--space-200) 0;
        }

        .subtitle,
        .body {
            margin-top: var(--space-300);
        }

        .btns,
        .note-wrapper {
            margin-top: var(--space-500);
        }
    }

    &-img {
        // flex: 1 1 259px;
        aspect-ratio: 3 / 2;
        // aspect-ratio: 49/37;

        @include big {
            flex: 1 1 532px;
        }
    }

    // --- Side Options
    &-side {
        &-left {
            @include big {
                .media_with_copy-text {
                    order: 2;
                }

                .media_with_copy-img {
                    order: 1;
                }
            }
        }
    }
}
