@use "@/styles/variables" as *;;

.media_with_copy {
            display: flex;
        flex-direction: column;

        @include big {
            flex-direction: row;
            gap: 7.847vw;
        }

    &-text {
        @include big {
            flex: 1 1 675px;
            padding: var(--space-200) 0;
        }

        .subtitle, .body {
            margin-top: var(--space-300);
        }

        .btns, .note-wrapper {
           margin-top: var(--space-500); 
        }
    }

    &-img {
        @include big {
            flex: 1 1 532px;
        }
    }

    // --- Side Options
    &-side {
        &-left {
            @include big {
            .media_with_copy-text {
                order: 2;
            }

            .media_with_copy-img {
                order: 1;
            }
          }
        }
    }
}