/* ////////////////////////////// 
    NAV
////////////////////////////// */

@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    padding: 0px 10px;

    border-bottom: 1px solid rgba(166, 130, 74, 0.2);

    opacity: 0;
    transform: translateY(-8px);
    animation: fadeDown 0.8s 0.2s ease forwards;

    @media all and (min-width: 800px) {
        margin: 0;
        justify-content: space-between;
        padding: 16px 10px;
    }

    nav {
        display: none;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 16px;

        @media all and (min-width: 800px) {
            display: flex;
        }

        svg {
            margin-bottom: 7px;
        }

        .nav-link {
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.9px;
            text-transform: uppercase;

            color: var(--Cream, #e6e2da);
            text-decoration: none;
            transition: all ease-in-out 300ms;

            display: flex;
            flex-direction: column;
            gap: 6px;

            &::after {
                content: "";

                background-color: var(--gold);
                height: 1px;
                width: 0;
                transition: all ease-in-out 300ms;
            }

            &:hover {
                text-decoration-color: var(--gold);
                color: var(--gold);

                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.mobile_nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    width: 100vw;
    height: 100dvh;

    display: flex;
    justify-content: flex-end;

    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease;

    &.open {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
    }

    .mobile_nav-inner {
        background-color: var(--gold);
        position: relative;
        padding: 24px 16px;
        width: 75vw;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    .close_icon {
        position: absolute;
        top: 24px;
        left: 24px;
    }

    .mobile_nav {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .nav-link {
            color: var(--cream);
            font-family: "Instrument Serif";
            font-size: 40px;
            font-style: italic;
            font-weight: 400;
            line-height: 120%;
            text-decoration: none;
        }
    }
}

/* ////////////////////////////// 
    Footer
////////////////////////////// */

.footer-wrapper {
    background-color: var(--black-5-pos);
    padding: 80px;

    display: flex;
    gap: 15.972vw;

    .footer-left {
        flex: 1 1 520px;
    }

    .footer-right {
        flex: 1 1 378px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        .footer-link {
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.9px;
            text-transform: uppercase;

            color: var(--Cream, #e6e2da);
            text-decoration: none;
            transition: all ease-in-out 300ms;

            display: flex;
            flex-direction: column;
            gap: 6px;
            /* 
            &::after {
                content: "";

                background-color: var(--gold);
                height: 1px;
                width: 0;
                transition: all ease-in-out 300ms;
            } */

            &:hover {
                text-decoration-color: var(--gold);
                color: var(--gold);

                /* &::after {
                    width: 100%;
                } */
            }
        }
    }
}

/* ////////////////////////////// 
    HERO
////////////////////////////// */

.hero-section {
    .hero-wrapper {
        background-color: var(--black-5-pos);
        padding: 0 30px;

        display: flex;
        flex-direction: column;
        gap: 30px;

        @media all and (min-width: 800px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .hero-img {
            @media all and (min-width: 800px) {
                flex: 1 1 452px;
                align-self: stretch;

                .img_holder {
                    margin: -60px 0;
                }
            }
        }

        .hero-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;

            padding: 30px 0;

            @media all and (min-width: 800px) {
                flex: 2 1 750px;
                padding: 60px 0;
            }
        }
    }

    h1 {
        text-align: center;
        font-style: italic;
    }
}

/* ////////////////////////////// 
    COPY
////////////////////////////// */

.copy-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .copy {
        color: var(--white);

        .gold {
            font-style: italic;
            color: var(--gold);
        }
    }

    &.centered {
        align-items: center;
        text-align: center;
    }
}

@media all and (min-width: 800px) {
    .copy-wrapper {
        max-width: 72.083vw;

        &.left {
        }

        &.centered {
            margin: auto;
        }
    }
}

/* ////////////////////////////// 
    LINE SEPARATED CONTENT
////////////////////////////// */

.line_separated_content-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    .line_separated_content-line {
        height: 2px;
        width: 100%;
        background-color: var(--gold);
    }

    .eyebrow {
        white-space: nowrap;
    }
}

/* ////////////////////////////// 
  TIMELINE & TIMELINE ELEMENT
////////////////////////////// */

/* ////////////////////////////// 
    
////////////////////////////// */
