/* ////////////////////////////// 
    COPY
////////////////////////////// */

.copy-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .copy {
        color: var(--white);

        .gold {
            font-style: italic;
            color: var(--gold);
        }
    }

    &.centered {
        align-items: center;
        text-align: center;
    }
}

@media all and (min-width: 800px) {
    .copy-wrapper {
        max-width: 72.083vw;

        &.left {
        }

        &.centered {
            margin: auto;
        }
    }
}

/* ////////////////////////////// 
    LINE SEPARATED CONTENT
////////////////////////////// */

.line_separated_content-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    .line_separated_content-line {
        height: 2px;
        width: 100%;
        background-color: var(--gold);
    }

    .eyebrow {
        white-space: nowrap;
    }
}

/* ////////////////////////////// 
  TIMELINE & TIMELINE ELEMENT
////////////////////////////// */

/* ////////////////////////////// 
    
////////////////////////////// */
