/* ////////////////////////////// 
    NAV
////////////////////////////// */

@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    padding: 16px 10px;

    
    border-bottom: 1px solid rgba(166, 130, 74, 0.2);

    opacity: 0;
    transform: translateY(-8px);
    animation: fadeDown 0.8s 0.2s ease forwards;

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 16px;

        svg {
            margin-bottom: 7px;
        }

        .nav-link {
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.9px;
            text-transform: uppercase;

            color: var(--Cream, #e6e2da);
            text-decoration: none;
            transition: all ease-in-out 300ms;

            display: flex;
            flex-direction: column;
            gap: 6px;

            &::after {
                content: "";

                background-color: var(--gold);
                height: 1px;
                width: 0;
                transition: all ease-in-out 300ms;
            }

            &:hover {
                text-decoration-color: var(--gold);
                color: var(--gold);

                &::after {
                    width: 100%;
                }
            }
        }
    }
}

/* TODO: IMPLEMENT MOBILE NAV INSTEAD OF JUST HIDING */
@media all and (max-width: 800px) {
    .nav-section {
        margin: 0 16px;
        justify-content: center;

        nav {
            display: none;
        }
    }
}

/* ////////////////////////////// 
    Footer
////////////////////////////// */

.footer-wrapper {
    background-color: var(--black-5-pos);
    padding: 80px;

    display: flex;
    gap: 15.972vw;

    .footer-left {
        flex: 1 1 520px;
    }

    .footer-right {
        flex: 1 1 378px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        .footer-link {
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.9px;
            text-transform: uppercase;

            color: var(--Cream, #e6e2da);
            text-decoration: none;
            transition: all ease-in-out 300ms;

            display: flex;
            flex-direction: column;
            gap: 6px;
/* 
            &::after {
                content: "";

                background-color: var(--gold);
                height: 1px;
                width: 0;
                transition: all ease-in-out 300ms;
            } */

            &:hover {
                text-decoration-color: var(--gold);
                color: var(--gold);

                /* &::after {
                    width: 100%;
                } */
            }
        }
    }
}

/* ////////////////////////////// 
    HERO
////////////////////////////// */

.hero-section {
    .hero-wrapper {
        background-color: var(--black-5-pos);
        padding: 0 30px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        .hero-img {
            flex: 1 0 452px;

            .img_holder {
                margin: -30px 0;
            }
        }

        .hero-text {
            flex: 2 1 750px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }
    }

    h1 {
        text-align: center;
        font-style: italic;
    }
}

/* ////////////////////////////// 
    COPY
////////////////////////////// */

.copy-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .copy {
        color: var(--white);

        .gold {
            font-style: italic;
            color: var(--gold);
        }
    }

    &.centered {
        align-items: center;
        text-align: center;
    }
}

@media all and (min-width: 800px) {
    .copy-wrapper {
        max-width: 72.083vw;

        &.left {
            
        }

        &.centered {
            margin: auto;
        }
    }
}


/* ////////////////////////////// 
    LINE SEPARATED CONTENT
////////////////////////////// */

.line_separated_content-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    .line_separated_content-line {
        height: 2px;
        width: 100%;
        background-color: var(--gold);
    }

    .eyebrow {
        white-space: nowrap;
    }
}

/* ////////////////////////////// 
  TIMELINE & TIMELINE ELEMENT
////////////////////////////// */


/* ////////////////////////////// 
    
////////////////////////////// */