/* ////////////////////////////// 
    WEDDING
////////////////////////////// */

.wedding {
    .info-section {
        display: flex;
        flex-direction: column;

        @media all and (min-width: 800px) {
            gap: 120px
        }

        .lines {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}