@use "@/styles/variables" as *;

.watermark_text {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: $space-400;

    &-subheader {
        color: $gold;
        font-family: $font-sans;
        text-transform: uppercase;
        font-size: var(--text-md);
        font-weight: 600;
        line-height: 120%; /* 43.2px */
        letter-spacing: 1.08px;
        text-align: center;

        @include big {
            // visibility: hidden;
            font-size: var(--text-xl);
        }
    }

    &-title {
        @include big {
            // visibility: hidden;
        }

        h2 {
            opacity: 50%;
            font-family: $font-goth;
            font-size: var(--text-5xl);
            font-style: normal;
            font-weight: 800;
            line-height: 100%;
            // white-space: nowrap;
            text-align: center;

            @include big {
                white-space: nowrap;
            }
        }
    }

    &-captions {
        // margin-bottom: $space-400;
        width: 100%;
        margin: 0 auto $space-400 auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--layout-column-gutter);

        @include big {
            flex-direction: row;
            justify-content: space-between;

            max-width: var(--max-width);
            margin: 0 auto $space-700 auto;

            // flex-direction: row;
            // justify-content: space-between;
            // gap: var(--layout-column-gutter);
        }

        .watermark_text-caption {
            display: flex;
            flex-direction: column;
            // flex-direction: row;
            // justify-content: space-between;
            gap: $space-200;

            flex: 1;

            border-bottom: 1px solid #666765;
            padding-bottom: $space-400;

            &:first-of-type {
                // padding-top: 0;
            }

            &:last-of-type {
                padding-bottom: 0;
                border-bottom: 0;
            }

            @include big {
                flex-direction: column;
                gap: var(--layout-column-gutter);

                padding: 0;
                border-bottom: 0;

                // visibility: hidden;
            }

            &-lines {
                display: flex;
                flex-direction: column;
                gap: $space-050;

                // flex: 0 0 50%;

                // @include big {
                //     flex: 1;
                // }

                text-align: center;
                align-items: center;
            }

            &-line {
                font-family: Unbounded;
                font-size: var(--text-base);
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 28px */
                letter-spacing: 1px;
                text-transform: uppercase;

                @include big {
                    font-size: var(--text-md, 20px);
                    letter-spacing: 2px;
                }
            }

            &-btn {
                width: auto;
                justify-content: center;
            }
        }

        &-left {
            // text-align: center;
            // align-items: center;

            // @include big {
            //     text-align: left;
            // }
        }

        &-center {
            // text-align: center;
            // align-items: center;

            // @include big {
            //     text-align: center;
            //     align-items: center;
            // }
        }

        &-right {
            // text-align: center;
            // align-items: center;

            // @include big {
            //     text-align: right;
            //     align-items: flex-end;
            // }
        }
    }

    &-text {
        position: relative;
        z-index: 5;

        width: 100%;

        // padding: $space-200 var(--layout-column-margin);
        padding: $space-200 var(--layout-column-margin) $space-400;
    }
}
