@use "../../styles/variables" as *;

.page-transition-wrapper {
    position: relative;
    overflow: hidden;
}

.page-transition-overlay {
    position: absolute;
    inset: 0;
    z-index: 100;
    background: $gold;
    pointer-events: none;
    transform: translateX(100%);
}
