@use "@/styles/variables" as *;

$imgHeight: calc(100dvh + $space-400);

.goth_hero {
    position: relative;
    min-height: $imgHeight;
    width: 100dvw;
    overflow: hidden;

    display: flex;
    align-items: flex-end;

    &-img {
        position: absolute;
        z-index: 1;

        height: $imgHeight;
        width: 100%;
        // aspect-ratio: 4093/2729;
        // height: auto;

        img {
            // object-position: center 25%;
            // height: 100dvh;
            // aspect-ratio: 4093/2729;
            @include big {
                object-position: center 20%;
            }
        }
    }

    &-text {
        position: relative;
        z-index: 5;

        // width: 100%;
        // flex: 1;
        width: 100dvw;
        overflow: hidden;
        background: linear-gradient(
            180deg,
            rgba(16, 17, 17, 0) 12.02%,
            rgba(16, 17, 17, 0.6) 47.12%
        );

        // padding: $space-200 var(--layout-column-margin);
        padding: $space-200 var(--layout-column-margin) $space-400;

        &-title {
            // visibility: hidden;
            text-align: center;
              container-type: inline-size; 

            @include big {
                max-width: var(--max-width);
                margin: auto;
                visibility: hidden;
            }

            h1 {
                font-family: $font-goth;
                // font-size: 125px;
                font-size: 17cqw;
                font-style: normal;
                font-weight: 800;
                line-height: 100%;
                white-space: nowrap;

                @include big {
                    // font-size: 15.625vw;
                    text-align: center;
                    font-size: 18cqw;
                    // flex: 1;
                    // visibility: hidden;
                }
            }

            p, span {
                font-family: $font-goth;
                font-size: .5em;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;

                @include big {
                    font-size: 8.333vw;
                    // visibility: hidden;
                }
            }

            &-desktop {
                display: none;

                @include big {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: $space-200;
                    // visibility: hidden;
                }

                @include breakpx(650px, $bp-tablet) {
                  display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: $space-200;
                }
            }

            &-mobile {
                display: flex;
                flex-direction: column;
                gap: $space-200;

                @include big {
                    display: none;
                }

                @include breakpx(650px, $bp-tablet) {
                  display: none;  
                }

                &-inner {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    // justify-content: space-between;
                    align-items: center;
                    gap: $space-200;
                }
            }
        }

        &-eyebrow {
            // margin-bottom: $space-400;
            margin: 0 auto $space-400 auto;

            display: flex;
            // flex-direction: column;
            justify-content: space-between;
            gap: var(--layout-column-gutter);

            @include big {
                flex-direction: row;
                justify-content: space-between;

                max-width: var(--max-width);
                margin: 0 auto $space-700 auto;

                // flex-direction: row;
                // justify-content: space-between;
                // gap: var(--layout-column-gutter);
            }

            p {
                font-family: Unbounded;
                font-size: var(--text-xs);
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 28px */
                letter-spacing: 1px;
                text-transform: uppercase;

                @include big {
                    font-size: var(--text-md, 20px);
                    letter-spacing: 2px;
                }
            }

            &-left {
                // visibility: hidden;
                text-align: left;

                @include big {
                    visibility: hidden;
                }
            }

            &-center {
                // visibility: hidden;
                text-align: center;

                @include big {
                    text-align: center;
                    visibility: hidden;
                }
            }

            &-right {
                // visibility: hidden;
                text-align: right;

                @include big {
                    text-align: right;
                    visibility: hidden;
                }
            }
        }
    }
}
