@use "../../styles/variables" as *;

.image_grid {
    &-wrapper {
    }

    &-inner {
        display: flex;
        flex-direction: column;
        gap: var(--space-400);

        position: relative;
        margin-left: var(--space-400);

        @include big {
            flex-direction: row;

            max-width: clamp(1300px, 90.278vw, 1400px);
            margin-left: auto;
        }
    }

    &-img {
        flex: 1 1 337px;
        aspect-ratio: 1;

        @include big {
            flex: 1 1 630px;
        }

        .img-wrapper {
            aspect-ratio: 1;
            // width: 100%;
            // height: 100%;
        }

        &.curved_img-wrapper {
            position: relative;

            svg {
                width: 100%;
                height: 100%;
                aspect-ratio: 1;
            }
        }

        &.square_img-wrapper {
            .img-wrapper {
                border: 2px solid $gold;
            }
        }
    }

    &-caption {
        text-align: center;
        margin-top: var(--space-200);
    }

    &-sun {
        position: absolute;
        top: -25%;
        left: -10%;
        z-index: 1;

        transform-origin: bottom center;
        transform: rotate(-45deg);

        width: clamp(415px, 46.875vw, 515px);
        aspect-ratio: 91/57;

        @include big {
            width: clamp(675px, 46.875vw, 775px);
            top: -25%;
            left: -20%;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}
