// _wedding.scss
@use "../../styles/variables" as *;

.venue-section {
    margin: var(--layout-section-padding) auto;

    .section-inner {
        background-color: var(--black-900);

        display: flex;
        flex-direction: column;
        gap: var(--space-700);

        @include big {
            gap: var(--space-1000);
        }
    }
}

.rehearsal-section {
    // display: flex;
    //     flex-direction: column;
    //     gap: var(--space-700);

    //     @include big {
    //         gap: var(--space-1000);
    //     }
}

.faqs-section {

    @include big {
        margin-top: -12vw; // TODO: Fix the top margin to hug to the previous block
    }

    
}

